
<p style="color: green"><%= notice %></p>
<div class="container wide-box notes">
  <h1 class="flex">Notes</h1>

  <div id="notes" class="padding">
    <% @notes.each do |note| %>
      <% if @admin then %>
        <%= render 'notes/draggable', note: note %>
      <% else %>
        <%= render note %>
      <% end %>
    <% end %>
  </div>


</div>

