/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
 }
 html {
    background-color: antiquewhite;
 }
.container {
    max-width: 80%;
    display: block;
    margin: 0 auto;
    padding: 0 10px
}
.relative {
    position: relative;
}
.center {
    width: 100%;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-start {
    justify-content: flex-start;
}
.wide-box {
    padding: 2.5% 0;
}
.padding {
    padding-left: 2%;
    padding-right: 2%;
    padding: 6% 2%;
}
#notes {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 80px
}
#notes.active {
    background-color:  rgba(250, 235, 215, 1);
    outline: 2px dashed goldenrod
}
h1 {
    font-weight: bold;
    color: white;
    color: rgb(0, 0, 0);
    text-shadow: -2px 2px 0px rgb(108, 147, 255);
    font-size: clamp(3rem, 10vw,6rem);
}

.dragging img {
    background-color: black;
    outline: 2px solid rgba(255, 174, 0, 0.712);

}

.dragging * {
    /* opacity: .53; transition: all ease 500ms; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
}
.dragging img{
    /* opacity: 1; */
    /* opacity: .33; */
    /* transition: all ease 500ms;
    transform: translateY(10%) scale(1.15); */
}
/* .draggable { 
    transition: all ease 500ms;
}
.active .draggable  { 
    transform: translateX(-50%) scale(.75);
}
.active .draggable { 
    transform: scale(.95);
} */
/* .active .draggable.hover-active {
 background-color: antiquewhite;
    
} */
.active 
.note {
    cursor: grab; 
    border-radius: 10px;
    font-size: 20px;
    margin: 0;
}
.note .wrapper {
    margin-bottom: 45px;
    margin-bottom: 0px;
    padding: 0px 10px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center; 
}
.note .wrapper h2 {
    position: absolute;
    height: min-content;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%); 
    text-align: center; 
    padding: 0 4vw;
}
.note .wrapper h2.front { 
    z-index: 1;
    background-color: white;
    color: white;
    border-radius: 10px; 
}
.note .wrapper h2.back { 
        z-index: 3;
}
 

.note h2:hover {
    /* background-color: rgb(255, 240, 220); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.note .wrapper img {
    border-radius: 100%;
    min-width: 100px;
    max-height: 100%;
    z-index: 2;
    position: relative;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.done-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: center;
    /* width: max-content; */
    width: fit-content;
}
.done-btn h3::after {
    position: absolute;
    content: '';
    top: 0px;
    bottom: 0px;
    border-radius: 5px;
    /* width: 100%;  */
    background-color: rgb(255, 145, 0);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    left: -10px;
    right: -10px;
    z-index: -1;
}
.done-btn h3 {
    top: -10px;
    position: relative;
    color: rgb(254, 255, 253);
    font-weight: normal;
}
.done-btn h5 {
    border-radius: 5px;
    color: rgb(254, 255, 253);
    font-weight: normal;
    position: absolute;
    background-color: rgb(255, 145, 0,1);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    top: calc(100% - 16px);
    overflow: hidden;
    z-index: -1;
    padding: 12px 0;
    left: -10px; 
    right: -10px; 
    display: none;
}

.done-btn .relative {
    /* overflow: hidden; */
    /* height: 100px; */
}
.icon {
    cursor: grab;
    width: 40%;
    margin: 0 auto
}
.done-btn:hover { 
    cursor:pointer; 
    /* background-color: rgb(206, 206, 24);    */
} 
.done-btn:hover h5 {
    /* top: 0; */
    /* height: 0; */
    display: block;
    transition: all 200ms ease;
}


.done-btn img {
    max-width: 30px;
}
.draggable .hover-active { 
    background-color: burlywood;
}
.spacer {
    height: 1px;
    opacity: .4;
    border: none;
    width: 40%;
    margin: 0 auto;
    transition: 120ms ease-in-out;
    position: absolute;
    bottom: -50px;
    background-color: rgb(189, 173, 168);
}
.hover-active .spacer { 
    background-color: rgb(255, 60, 0);
    width: 200%;
    transition: 120ms ease-in-out;
}
.draggable:last-child .spacer {
    display: none
}
.dragging .spacer {
    opacity: .5;
}